body {
  background-color: cadetblue;
}
.container {
  border: 1px solid burlywood;
}
.map {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 1));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 1));
}
.state {
  fill: yellowgreen;
}

.sidePanel {
  background-color: darkcyan;
  text-align: center;
}
